body {
  /* background-color: #0b1c2f;
  color: white; */
  background-color: white;
  color: #0b1c2f;
  /* font-family: Inter, sans-serif; */
  font-family: Geosanslight, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  display: block;
  /* overflow: scroll; */
  max-height: 100vh;
}

.headers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.title-header {
  font-size: 2em;
  font-family: Qualy;
  margin: 0.67em 0;
  text-transform: uppercase;
  text-align: center;
}

.subheader-home {
  /* font-size: 1.2em;
  margin: 0.4em 0; */
  /* margin: 0.67em 0; */
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Qualy;
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-photo {
  height: 10%;
  width: 10%;
  border-radius: 50%;
}

.projects-header,
.socials-header,
.blog-header {
  color: black;
  font-size: 1.5em;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.link:visited {
  /* color: red; */
  text-decoration: none;
}

.bio-container {
  margin-bottom: 40px;
  /* font-family: Lora, sans-serif; */
  font-family: Geosanslight, sans-serif;
  /* color: #848d96; */
  font-size: 21px;
  line-height: 140%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  /* background-color: orange; */
}

.bio-container__child {
  width: 50%;
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.socials-links__container {
  display: flex;
  align-content: center;
  border: 1px black ridge;
}

.blog-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projects-section,
.socials-section,
.contact-section {
  /* font-family: Lora, sans-serif; */
  font-size: 16px;
  line-height: 160%;
}

.project-link {
  text-align: center;
}

.socials-links,
.blog-links {
  text-align: center;
  font-size: 18px;
}

.link-one,
.link-two,
.link-three {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}
