.header {
  border-bottom: 2px solid white;
  text-align: center;
}

.post-content {
  font-size: 18px;
  text-align: center;
}

.post-title {
  color: black;
  /* text-transform: uppercase; */
}

.post-detail {
  /* text-decoration: dashed; */
}
